.vscode/**
.vscode-test/**
.specstory/**
.cursorindexingignore
**/.DS_Store
**/Thumbs.db
**/node_modules/**
**/.git/**
**/*.vsix
.gitignore
**/*.map
build/**
dist/**
log.1main.log
log.1err.log
*.bat
scripts/**
